<div>
    {{#each productos}}
  <div class="flex flex-wrap items-center justify-center bg-gray-200 p-4 mb-4 rounded-lg">
    <div class="w-full md:w-1/4 lg:w-1/5 px-4 mb-4 md:mb-0">
      <img src="{{imageUrl}}" alt="{{title}}" class="w-full h-auto">
    </div>
    <div class="w-full md:w-3/4 lg:w-4/5 px-4">
      <h2 class="text-lg font-semibold mb-2">{{productos.title}}</h2>
      <p class="text-gray-700 mb-4">{{productos.description}}</p>
      <p class="font-bold text-gray-900 mb-2">Precio: ${{productos.price}}</p>
      <p class="text-gray-700 mb-2">Categoría: {{productos.category}}</p>
      <p class="text-gray-700 mb-2">Código: {{productos.code}}</p>
      <p class="text-gray-700 mb-2">Stock: {{productos.stock}}</p>
      <a href="#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Agregar al carrito</a>
    </div>
  </div>
    {{/each}}
    <div class="bg-gray-200 max-w-lg p-36 container flex justify-center mx-auto">
  <div class="flex flex-row mx-auto">
    {{#if hasPrevPage}}
    <a href="{{prevLink}}">
    <button type="button" class="bg-gray-800 text-white rounded-l-md border-r border-gray-100 py-2 hover:bg-red-700 hover:text-white px-3">
      <div class="flex flex-row align-middle">
        <svg class="w-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
        </svg>
        <p class="ml-2">Prev</p>
      </div>
    </button>
    </a>
    {{/if}}
    <h4>{{page}}</h4>
    {{#if hasNextPage}}
    <a href="{{nextLink}}">
    <button type="button" class="bg-gray-800 text-white rounded-r-md py-2 border-l border-gray-200 hover:bg-red-700 hover:text-white px-3">
      <div class="flex flex-row align-middle">
        <span class="mr-2">Next</span>
        <svg class="w-5 ml-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
        </svg>
      </div>
    </button>
    </a >
    {{/if}}
  </div>
</div>
</div>